@page
@model RapeCrisisCounsellorSystem.Pages.Schedules.CreateModel

@{
    ViewData["Title"] = "Add Availability";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Add Availability</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schedule.Counsellor.Name" class="control-label"></label>
                <select id="ddlCounsellors" name="CounsellorId" asp-items="@Model.Counsellors">
                    <option value="0">Select Counsellor</option>
                </select>
                <span asp-validation-for="Schedule.Counsellor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.AvailableDate" class="control-label"></label>
                <input asp-for="Schedule.AvailableDate" class="form-control" />
                <span asp-validation-for="Schedule.AvailableDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.startTime" class="control-label"></label>
                <input asp-for="Schedule.startTime" class="form-control" />
                <span asp-validation-for="Schedule.startTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.endTime" class="control-label"></label>
                <input asp-for="Schedule.endTime" class="form-control" />
                <span asp-validation-for="Schedule.endTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
