@page
@model RapeCrisisCounsellorSystem.Pages.Counsellors.CounsellorsModel
@{
    ViewData["Title"] = "Councellor";
}

<div class="container d-flex justify-content-center align-items-center" style="width: 100vw; height: 80vh">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary text-center" asp-area="" asp-page="/Index">Register</a>
        </div>
        <div class="col">
            <a class="btn btn-outline-primary text-center" asp-area="" asp-page="/Index">Login</a>
        </div>
    </div>
</div>